@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 293.4 20% 95%;
    --foreground: 293.4 5% 10%;
    --card: 293.4 20% 90%;
    --card-foreground: 293.4 5% 15%;
    --popover: 293.4 20% 95%;
    --popover-foreground: 293.4 95% 10%;
    --primary: 293.4 69.5% 48.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 293.4 20% 79%;
    --secondary-foreground: 0 0% 0%;
    --muted: 255.39999999999998 20% 85%;
    --muted-foreground: 293.4 5% 40%;
    --accent: 255.39999999999998 20% 80%;
    --accent-foreground: 293.4 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 293.4 5% 90%;
    --border: 293.4 20% 79%;
    --input: 293.4 20% 50%;
    --ring: 293.4 69.5% 48.8%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 293.4 20% 10%;
    --foreground: 293.4 5% 90%;
    --card: 293.4 20% 10%;
    --card-foreground: 293.4 5% 90%;
    --popover: 293.4 20% 5%;
    --popover-foreground: 293.4 5% 90%;
    --primary: 293.4 69.5% 48.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 293.4 20% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 255.39999999999998 20% 25%;
    --muted-foreground: 293.4 5% 65%;
    --accent: 255.39999999999998 20% 25%;
    --accent-foreground: 293.4 5% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 293.4 5% 90%;
    --border: 293.4 20% 50%;
    --input: 293.4 20% 50%;
    --ring: 293.4 69.5% 48.8%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
